#Tutorial para substituir o excel por pandas

Tutorial básico para não-programadores ou quem está iniciando pandas.

A fonte original está aqui (eu fiz algumas modificações, além de traduzir para pt-br): https://github.com/dom-devel/pandas_basic_data_analysis_tutorial

In [ ]:
!pip install ipython
import IPython

In [ ]:
#Importação de bibliotecas

import pandas as pd #funções para a análise de dados
import numpy as np #mais funções para análise de dados (menos user friendly do que pandas)
import re #expressões regulares; pandas já possui; normalmente não é necessário importar (mas vamos colocar por preucaução)
from IPython.display import display #formatação mais agradável

#Criação do primeiro dataframe

Há diferentes formas de lidar com arquivos no colab. Aqui vamos fazer uma delas. Para ver mais métodos, você pode acessar esse [link](https://neptune.ai/blog/google-colab-dealing-with-files).

Vamos integrar o Google Drive com o nosso Google Colab: vá em files > mount google drive.

In [ ]:
#criação do primeiro dataframe

df = pd.read_csv("/content/drive/My Drive/Tutorial_analise_pyladies/Example Car SERPs.csv")

In [ ]:
#Explorando o dataframe

df.head(10)

           Keyword  ...                                               Tags
0  0 apr car deals  ...  !permanent keywords / auto express / featured ...
1  0 apr car deals  ...  !permanent keywords / auto express / featured ...
2  0 apr car deals  ...  !permanent keywords / auto express / featured ...
3  0 apr car deals  ...  !permanent keywords / auto express / featured ...
4  0 apr car deals  ...  !permanent keywords / auto express / featured ...
5  0 apr car deals  ...  !permanent keywords / auto express / featured ...
6  0 apr car deals  ...  !permanent keywords / auto express / featured ...
7  0 apr car deals  ...  !permanent keywords / auto express / featured ...
8  0 apr car deals  ...  !permanent keywords / auto express / featured ...
9  0 apr car deals  ...  !permanent keywords / auto express / featured ...

[10 rows x 13 columns]

In [ ]:
#Explorando o dataframe

df.info(3)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39600 entries, 0 to 39599
Data columns (total 13 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Keyword                         39600 non-null  object
 1   Market                          39600 non-null  object
 2   Location                        0 non-null      float64
 3   Device                          39600 non-null  object
 4   Regional Monthly Search Volume  39520 non-null  float64
 5   Rank                            39600 non-null  int64
 6   Result Types for Jan  1, 2017   31280 non-null  object
 7   Protocol for Jan  1, 2017       31280 non-null  object
 8   Ranking URL on Jan  1, 2017     31280 non-null  object
 9   Result Types for Sep  1, 2017   39420 non-null  object
 10  Protocol for Sep  1, 2017       39420 non-null  object
 11  Ranking URL on Sep  1, 2017     39420 non-null  object
 12  Tags                            39600 non-null  object
dtypes: float64(2), int64(1), object(10)
memory usage: 3.9+ MB

In [ ]:
#Explorando o dataframe

df.shape

(39600, 13)

In [ ]:
#Explorando o dataframe - para imprimir multiplas linhas deve ser utilizado o display
display(df['Market'].head(1))
display(df['Market'].head(2))

0    GB-en
Name: Market, dtype: object

0    GB-en
1    GB-en
Name: Market, dtype: object

In [ ]:
#Explorando o dataframe - apenas uma linha (neste caso não precisa de display)

df['Market'].head(1)

0    GB-en
Name: Market, dtype: object

#Filtrando Dados
Aqui veremos como filtrar dados com base nos valores das colunas.

In [ ]:
#Criando um novo dataframe que contém apenas valores de uma determinada string

df_filtered = df[(df["Keyword"].str.contains("hyundai", regex=True)==True)]
df_filtered.head(3)

             Keyword  ...                                               Tags
34200  hyundai coupe  ...  cars - hyundai / gsc / permanent keywords / ta...
34201  hyundai coupe  ...  cars - hyundai / gsc / permanent keywords / ta...
34202  hyundai coupe  ...  cars - hyundai / gsc / permanent keywords / ta...

[3 rows x 13 columns]

In [ ]:
#Criando um novo dataframe que contém apenas valores numéricos

df_filtered = df[df["Rank"]==10]
df_filtered.head(3)

                 Keyword  ...                                               Tags
9        0 apr car deals  ...  !permanent keywords / auto express / featured ...
29   0 car finance deals  ...  !permanent keywords / auto express / featured ...
49  0 car finance offers  ...  !permanent keywords / auto express / featured ...

[3 rows x 13 columns]

##Valores Boleanos

In [ ]:
#criando uma coluna "is_rank_1" e declarando que se a coluna rank for igual a 1, o valor dela deve equivaler a True.
df['is_rank_1'] = False
df.loc[df['Rank'] == 1, 'is_rank_1'] = True

In [ ]:
#criando novos dataframes com base no código anterior - INCLUI termos na posição 1
df_filtered = df[df['is_rank_1']]

In [ ]:
#criando novos dataframes com base no código anterior - EXCLUI termos na posição 1
df_filtered = df[~df['is_rank_1']]

##Lista de Condições

In [ ]:
#criando uma lista:
list_of_values = [
    '1 series bmw',
    'ford deals'
]

#novo dataframe com base na lista anterior:
df_filtered = df[df["Keyword"].isin(list_of_values)]

In [ ]:
df_filtered.head(3)

          Keyword Market  ...                        Tags is_rank_1
180  1 series bmw  GB-en  ...  temp - semrush / used-cars      True
181  1 series bmw  GB-en  ...  temp - semrush / used-cars     False
182  1 series bmw  GB-en  ...  temp - semrush / used-cars     False

[3 rows x 14 columns]

##Condições Multiplas

In [ ]:
#colocamos as condições dentro dos []'s + (). 
#podemos usar & que é o símbolo para E ou | que é o símbolo para OU.

df_filtered = df[(df["Market"].str.contains("GB-en")==False) | 
                 (df["Device"].str.contains("desktop")==True)]

##Dúvidas?

Com base nos exemplos, acima você consegue pensar em algum filtro para o data frame que acabamos de criar?

In [ ]:
#df_filtered =

#Criando Colunas com base em valores existentes
Às vezes tudo o que queremos é criar colunas que ajudem a "categorizar" nossos dados com base nas informações existentes.

In [ ]:
#criando uma coluna chamada "Industry"
df['industry'] = "Cars"

In [ ]:
#criando uma coluna a partir de uma condição boleana

df['is_rank_2'] = df['Rank'] == 2 #TRUE para valores que equivale a 1

In [ ]:
df.head(10)

           Keyword Market  Location  ... is_rank_1  industry  is_rank_2
0  0 apr car deals  GB-en       NaN  ...      True      Cars      False
1  0 apr car deals  GB-en       NaN  ...     False      Cars       True
2  0 apr car deals  GB-en       NaN  ...     False      Cars      False
3  0 apr car deals  GB-en       NaN  ...     False      Cars      False
4  0 apr car deals  GB-en       NaN  ...     False      Cars      False
5  0 apr car deals  GB-en       NaN  ...     False      Cars      False
6  0 apr car deals  GB-en       NaN  ...     False      Cars      False
7  0 apr car deals  GB-en       NaN  ...     False      Cars      False
8  0 apr car deals  GB-en       NaN  ...     False      Cars      False
9  0 apr car deals  GB-en       NaN  ...     False      Cars      False

[10 rows x 16 columns]

##CTR e Tráfego Estimado

In [ ]:
#criando uma coluna com o CTR estimado - definindo regras com base em https://www.advancedwebranking.com/ctrstudy/

def ctr (row):
   if row['Rank'] == 1 :
      return 0.3
   if row['Rank'] == 2 :
      return 0.15
   if row['Rank'] == 3 :
      return 0.10
   if row['Rank'] == 4 :
      return 0.06
   if row['Rank'] == 5 :
      return 0.04
   if row['Rank'] == 6 :
      return 0.04
   if row['Rank'] == 7 :
      return 0.03
   if row['Rank'] == 8 :
      return 0.02
   if row['Rank'] == 9 :
      return 0.02
   if row['Rank'] == 10 :
      return 0.01
      return 0

In [ ]:
#criação da coluna a partir da função ctr
df['ctr'] = df.apply (lambda row: ctr(row), axis=1)

In [ ]:
df.head(3)

           Keyword Market  Location  ... industry  is_rank_2   ctr
0  0 apr car deals  GB-en       NaN  ...     Cars      False  0.30
1  0 apr car deals  GB-en       NaN  ...     Cars       True  0.15
2  0 apr car deals  GB-en       NaN  ...     Cars      False  0.10

[3 rows x 17 columns]

In [ ]:
#definindo o tráfego estimado do termo

df['estimated traffic'] = df['Regional Monthly Search Volume']*df['ctr']

In [ ]:
df.head(3)

           Keyword Market  Location  ... is_rank_2   ctr  estimated traffic
0  0 apr car deals  GB-en       NaN  ...     False  0.30              570.0
1  0 apr car deals  GB-en       NaN  ...      True  0.15              285.0
2  0 apr car deals  GB-en       NaN  ...     False  0.10              190.0

[3 rows x 18 columns]

##Categorizando strings com regex

In [ ]:
#criando colunas com base em dados de strings (regex) - pode ser interessante para dividir termos com e sem marca.

df['car_type'] = df['Keyword'].str.extract("(bmw|audi|ford)", re.IGNORECASE, expand=False)

In [ ]:
df.sort_values(by=['Regional Monthly Search Volume'], inplace=True, ascending=False)

In [ ]:
df.head(10)

             Keyword Market  Location  ...   ctr  estimated traffic  car_type
2309            audi  GB-en       NaN  ...  0.01             3680.0      audi
2307            audi  GB-en       NaN  ...  0.02             7360.0      audi
24615  evans halshaw  GB-en       NaN  ...   NaN                NaN       NaN
24616  evans halshaw  GB-en       NaN  ...   NaN                NaN       NaN
24617  evans halshaw  GB-en       NaN  ...   NaN                NaN       NaN
24618  evans halshaw  GB-en       NaN  ...   NaN                NaN       NaN
24619  evans halshaw  GB-en       NaN  ...   NaN                NaN       NaN
24620  evans halshaw  GB-en       NaN  ...  0.30           110400.0       NaN
24621  evans halshaw  GB-en       NaN  ...  0.15            55200.0       NaN
24622  evans halshaw  GB-en       NaN  ...  0.10            36800.0       NaN

[10 rows x 19 columns]

##Dúvidas?
Você consegue pensar em alguma coluna que pode ser criada com base nos valores do dataframe que estamos trabalhando?

#Group by: visão geral

In [ ]:
#vendo número de palavras e média de ranking por data e país 
df_group = df.groupby(['Ranking URL on Sep  1, 2017']).agg({
    'Keyword': 'count',
    'Rank': 'mean',
    'Regional Monthly Search Volume': 'sum',
    'estimated traffic': 'sum'
}).reset_index()

In [ ]:
df_group.sort_values(by=['estimated traffic'], inplace=True, ascending=False)

In [ ]:
df_group.head(10)

                       Ranking URL on Sep  1, 2017  ...  estimated traffic
7163                             www.google.co.uk/  ...          1673447.8
4615                           www.cargiant.co.uk/  ...           361200.0
5595                www.confused.com/car-valuation  ...           283163.0
2981                         www.autotrader.co.uk/  ...           277738.6
3018            www.autotrader.co.uk/car-valuation  ...           264825.1
9074                   www.motors.co.uk/used-cars/  ...           263176.2
6433                         www.evanshalshaw.com/  ...           220800.0
4786                        www.carmagazine.co.uk/  ...           168648.0
7177  www.gov.uk/get-vehicle-information-from-dvla  ...           159663.0
3019                 www.autotrader.co.uk/caravans  ...           143715.0

[10 rows x 5 columns]

##Dúvidas?
O que poderíamos agrupar neste dataframe?

#Unificando dataframes

##Unificando csvs's com as mesmas colunas

In [ ]:
#incluir um segundo dataframe 
df2 = pd.read_csv("/content/drive/My Drive/Tutorial_analise_pyladies/Example Car SERPs - Small Second Set.csv") #cria o dataframe novo
list_of_df = [df, df2] #cria uma lista com os 2 dataframes
both_dfs = pd.concat(list_of_df) #coloca um sobre o outro

In [ ]:
#validação do novo dataframe
print(df.shape)
print(df2.shape)
print(both_dfs.shape)

(39600, 19)
(20, 13)
(39620, 19)

In [ ]:
both_dfs.to_csv('kws-final.csv')

##Dúvidas?
Que tipos de csvs poderiam ser unificados para tornar o dataset mais completo?

#Trabalhando com URLs
a ser desenvolvido

In [ ]:
from urllib.parse import urlparse